<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>translate_animation</key>
	<dict>
		<key>open</key>
		<dict>
			<key>type</key>
			<string>translate</string>
			<key>time</key>
			<integer>1</integer>
		</dict>
		<key>close</key>
		<dict>
			<key>type</key>
			<string>translate</string>
			<key>time</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>default_animation</key>
	<dict>
		<key>open</key>
		<dict>
			<key>type</key>
			<string>fade</string>
			<key>time</key>
			<real>0.4</real>
		</dict>
		<key>close</key>
		<dict>
			<key>type</key>
			<string>fade</string>
			<key>time</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>zoom_animation</key>
	<dict>
		<key>open</key>
		<dict>
			<key>type</key>
			<string>scale</string>
			<key>time</key>
			<string>1</string>
		</dict>
		<key>close</key>
		<dict>
			<key>type</key>
			<string>scale</string>
			<key>time</key>
			<string>1</string>
		</dict>
	</dict>
	<key>gravity_animation</key>
	<dict>
		<key>open</key>
		<dict>
			<key>type</key>
			<string>gravity</string>
			<key>time</key>
			<string>1</string>
		</dict>
		<key>close</key>
		<dict>
			<key>type</key>
			<string>gravity</string>
			<key>time</key>
			<string>1</string>
		</dict>
	</dict>
</dict>
</plist>
